.my-btn {
    background-color: #666666;
    /* Green */
    border: none;
    color: white;
    padding: 6px 32px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

body {
    background-image: linear-gradient(to bottom, rgba(112, 105, 74, 0.842), rgba(2, 56, 78, 0.945)), url('../images/background.jpg');
    background-size: cover;
    color: white;
}

h1 {
    color: white;
}

.nav {
    background-color: #313652a6;
    font-family: Verdana, Geneva, sans-serif;
}

.nav .nav-item .nav-link {
    color: rgb(159, 159, 211);
}

.nav .nav-item .nav-link.active {
    color: white;
}

#divVideo {
    margin: 0 auto;
    border: 10px double #ddd;
    margin: 0 auto;
    width:fit-content;
}